body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5dc;
}

#Gen1 rect {
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  fill : blue;
}